<table class="form-table">
    <tbody>
        <tr>
            <th scope="row">
                <h1>{{ title }}</h1>
                <br/>
                <img src="{{ url }}" alt="projects" />
            </th>
        </tr>
        <tr>
            <td scope="row">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus finibus sagittis urna vel ornare. Etiam sollicitudin elit mi, id convallis diam finibus quis. Ut ornare nisi a justo vulputate, maximus rutrum est efficitur. Vestibulum non hendrerit purus. Mauris finibus nisi lectus, a hendrerit ipsum pharetra tempus. Nullam sit amet enim diam. Cras placerat condimentum dui, ac dapibus nibh tincidunt in. Vivamus porta faucibus facilisis. Vivamus consectetur lorem id bibendum accumsan. In nec nisi a est eleifend bibendum id in augue. Mauris at erat lobortis, sodales lacus vitae, gravida diam. Etiam pharetra libero nec placerat consectetur. Pellentesque ut ornare ante.</p>
            </td>
        </tr>
        <tr>
            <td scope="row">
                <ul>
                    {{# dummies}} {{> dummy }} {{/dummies}}
                </ul>
            </td>
        </tr>
    </tbody>
</table>
